<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Freento_PerformanceSuite::fps" title="FPS" sortOrder="55">
                    <resource id="Freento_PerformanceSuite::performance_suite" title="Performance Suite">
                        <resource id="Freento_PerformanceSuite::fps_dashboard" title="Dashboard"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
